%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} Noeticideas Admin Panel
  %ul.nav.navbar-top-links.navbar-right.pull-right
    %li.dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        = render "layouts/nav_links_for_auth"
  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav.in
        %li
          %a{:href => "/"}
            %i.fa.fa-dashboard.fa-fw
            Dashboard
        %li
          %a{:href => "#"}
            %i.fa.fa-file-text-o.fa-fw
            Invoices
            %span.fa.arrow
          %ul.nav.nav-second-level.collapse
            %li
              = link_to 'Manage Invoices', invoices_path
            %li
              = link_to 'Create New Invoice', new_invoice_path

        %li
          %a{:href => "#"}
            %i.fa.fa-money.fa-fw
            Payments
            %span.fa.arrow
          %ul.nav.nav-second-level.collapse
            %li
              = link_to 'Manage Payments', payments_path
            %li
              = link_to 'Create New Payment', new_payment_path