!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      = content_for?(:title) ? yield(:title) : "Noeticideas Admin Panel"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Noeticideas Admin Panel"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    #wrapper
      = render 'layouts/navbar'
    #page-wrapper
      = render 'layouts/title'
      = render 'layouts/messages'
      %div
        .panel.panel-default
          .panel-heading
            = content_for?(:panel_heading) ? yield(:panel_heading) : "Dashboard"
          .panel-body
            = yield
  = javascript_include_tag 'application'
  = content_for?(:extra_scripts) ? yield(:extra_scripts) : nil
